
#MainHeader{
  display:grid;
  grid-template-columns: 125px 1fr 125px;
  grid-template-rows: 20px 1fr 20px;
  border: solid;
}

#loggedInSpiel {
  grid-row-start: 1;
  grid-column-start: 2;
  text-align: center;
}

#regLink {
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: left;
}

#loginLink {
  grid-row-start: 1;
  grid-column-start: 5;
  text-align: right;
}

#mainTitle {
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: center;
  font-size:50px;
}

.neilCaffreyA{
  width: 55px;
  height: 55px;
  float: left;
}

.neilCaffreyB{
  width: 55px;
  height: 55px;
  float: right;
}

.threadInfo{
  display:grid;
  grid-template-columns: 125px 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid;
}

.threadPic{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.avatar{
  width: 100px;
  height: 100px;
}

.threadInfoTitle{
  text-align: left;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
}

.threadInfoSecondLine{
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 2;
}

.threadInfoNoOfPosts{
  text-align: left;
  grid-column-start: 3;
  grid-row-start: 2;
}

.modName { color: red }




.threadHeader{
  display:grid;
  grid-template-columns: 125px 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.threadHeaderTitle{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
}

.threadHeaderSecondLine{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
}


.postDiv{
  border: solid;
}



.postHeader{
  display:grid;
  grid-template-columns: 55px 4fr 2fr;
  grid-template-rows: 1fr 1fr;
  border:solid;
}

.postHeaderUserName{
  text-align: left;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
}

.postHeaderTag{
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 2;
}

.postHeaderDate{
  text-align: right;
  grid-column-start: 3;
  grid-row-start: 2;
}

.postHeaderPostNum{
  text-align: right;
  grid-column-start: 3;
  grid-row-start: 1;
}

.postHeaderPic{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.postHeaderAvatar{
  width: 50px;
  height: 50px;
}

#logout{
  text-align: center;
}

#nameBox{
  width: 500px;
  height: 35px;
}

#postBox{
  width: 500px;
  height: 200px;
}